{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/films.css') }}">
{% endblock %}

{% block content %}
<div class="player-global-container">
  <button id="back-btn"><i class="ri-arrow-left-line"></i></button>
  <button id="favorite"><i id="heart-icon"
      class=" {{ 'ri-heart-fill' if film_favorite else 'ri-heart-line' }}"></i></button>


  <div class="video-container">
    {% if authorized == 1 %}
    <video id="player" controls>
      <source src="{{ video_url }}" type="video/mp4">
      <div class="fallback-message">Votre navigateur ne supporte pas la vidéo.</div>
    </video>
    {% else %}
    <div class="player">
      <img src="../../../static/images/admin-film.webp">
    </div>
    {%endif%}
  </div>


  <div class="film-infos">
    <div class="global-affiche-film">
      <img src="{{ url_for('static', filename='images/affiches/' + poster)}}" alt="affiches du film"
        class="affiche-film">
    </div>
    <div class="film-details">
      <h2 class="film-title">{{ title }}</h2>
      <div class="film-details-p">
        <p class="film-year">Date de Sortie : {{ year }}</p>
        <p class="film-description">{{ description }}</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block extra_js %}

<script>

  // bouton favori -----

  const favori = document.querySelector('#heart-icon');
  const favoriBtn = document.querySelector('#favorite');

  favoriBtn.addEventListener('click', () => {

    const isFav = favori.classList.contains('ri-heart-fill');
    const newState = !isFav;

    favori.classList.toggle('ri-heart-line');
    favori.classList.toggle('ri-heart-fill');

    fetch("/set_film_favorite", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        film: "{{ video }}",
        favorite: newState
      })
    });
  });

  // Films si admin -----

  const videoName = "{{ video }}";
  const username = "{{ username }}";
  const video = document.querySelector("#player");

  if (video && videoName) {
    fetch(`/progress?video=${encodeURIComponent(videoName)}`)
      .then(r => r.json())
      .then(data => {
        if (data.position) video.currentTime = data.position;
      });

    setInterval(() => {
      fetch("/progress", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          video: videoName,
          position: video.currentTime
        })
      });
    }, 5000);
  }

  // fin ------

</script>
{% endblock %}