{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/contact.css') }}">
{% endblock %}

{% block content %}

<div class="section-1">
    <h2> Contact </h2>
    <p>Une <span>question</span>, une idée magique à partager ou simplement l’envie de dire <span>bonjour</span> ?
        N’hésite pas à
        m’envoyer un <span>hibou</span>! Que tu sois un moldu curieux, un élève de Poudlard en vadrouille ou un membre
        du Ministère en mission secrète, je te répondrai aussi <span>vite</span> qu’un éclair de feu. Tu peux m’écrire
        pour suggérer une <span>amélioration</span> du site, <span>signaler un bug</span> ou une <span>erreur</span>
        dans un sort, partager une
        <span>anecdote</span> magique, <span>parler</span> de ton amour pour la saga ou simplement <span>discuter</span>
        entre fans.
    </p>
</div>
<div class="section-2">
    <div class="global-mail">
        <p id="cooldown-message" style="display: none; color: #fff; margin-bottom: 1rem;"></p>
        <form id="contact-form" action="/contacts" method="POST">
            <div class="contact-de-global">
                <div class="contact-de">
                    <label for="name" class="titre-contact">Nom</label>
                    <input id="name" class="name" type="text" name="nom_utilisateur" placeholder="Votre Nom & Prénom"
                        required>
                </div>
                <div class="contact-de">
                    <label for="mail" class="titre-contact">E-mail</label>
                    <input id="mail" class="mail" type="email" name="email_utilisateur" placeholder="Votre e-mail"
                        required>
                </div>
            </div>

            <label for="objet" class="titre-contact">Sujet</label>
            <input id="objet" class="objet" type="text" name="objet" placeholder="Objet" required>
            <label for="message" class="titre-contact">Message</label>
            <textarea id="message" class="message" type="text" name="message" placeholder="Votre message"
                required></textarea>
            <button type="submit">Envoyer</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename = 'javascript/contact.js')}}"></script>
{% endblock %}