{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/films.css') }}">
{% endblock %}

{% block title %}Quibbler | Films{% endblock %}

{% block content %}
<div class="global-film">
    <div class="section-bis">
        <div class="background-section-0">
            <div class="section-0">
                <h1>Films</h1>
                <p>
                    Les célèbres <span>romans</span> Harry Potter de J.K. Rowling ont été adaptés à l’<span>écran</span>
                    en
                    huit films à
                    succès et ont ensuite inspiré la série de films <span>Fantastiques</span>, nous plongeant
                    ainsi dans une nouvelle ère du monde des <span>sorciers</span>.
                </p>

            </div>
        </div>
    </div>
    <div class="section">
        <h2>Harry Potter</h2>
        <div class="section-1">
            <article class="films">
                <div class="film-container">
                    <img src="{{ url_for('static', filename = 'images/affiches/1.webp')}}">
                    <a href="{{url_for('routes.player', video = 'harry_potter_un.mp4')}}"><i
                            class="ri-play-line"></i></a>
                </div>
            </article>
            <article class="films">
                <div class="film-container">
                    <img src="{{ url_for('static', filename = 'images/affiches/2.webp')}}">
                    <a href="{{url_for('routes.player', video = 'harry_potter_deux.mp4')}}"><i
                            class="ri-play-line"></i></a>
                </div>
            </article>
            <article class="films">
                <div class="film-container">
                    <img src="{{ url_for('static', filename = 'images/affiches/3.webp')}}">
                    <a href="{{url_for('routes.player', video = 'harry_potter_trois.mp4')}}"><i
                            class="ri-play-line"></i></a>
                </div>
            </article>

            <article class="films">
                <div class="film-container">
                    <img src="{{ url_for('static', filename = 'images/affiches/4.webp')}}">
                    <a href="{{url_for('routes.player', video = 'harry_potter_quatre.mp4')}}"><i
                            class="ri-play-line"></i></a>
                </div>
            </article>

            <article class="films">
                <div class="film-container">
                    <img src="{{ url_for('static', filename = 'images/affiches/5.webp')}}">
                    <a href="{{url_for('routes.player', video = 'harry_potter_cinq.mp4')}}"><i
                            class="ri-play-line"></i></a>
                </div>
            </article>
            <article class="films">
                <div class="film-container">
                    <img src="{{ url_for('static', filename = 'images/affiches/6.webp')}}">
                    <a href="{{url_for('routes.player', video = 'harry_potter_six.mp4')}}"><i
                            class="ri-play-line"></i></a>
                </div>
            </article>

            <article class="films">
                <div class="film-container">
                    <img src="{{ url_for('static', filename = 'images/affiches/7.webp')}}">
                    <a href="{{url_for('routes.player', video = 'harry_potter_sept.mp4')}}"><i
                            class="ri-play-line"></i></a>
                </div>
            </article>

            <article class="films">
                <div class="film-container">
                    <img src="{{ url_for('static', filename = 'images/affiches/8.webp')}}">
                    <a href="{{url_for('routes.player', video = 'harry_potter_huit.mp4')}}"><i
                            class="ri-play-line"></i></a>
                </div>
            </article>
        </div>
        <h2>Les animaux fantastiques</h2>
        <div class="section-2">
            <article class="films">
                <div class="film-container">
                    <img src="{{ url_for('static', filename = 'images/affiches/10.webp')}}">
                    <a href="{{url_for('routes.player', video = 'les_animaux_fantastiques_un.mp4')}}"><i
                            class="ri-play-line"></i></a>
                </div>
            </article>

            <article class="films">
                <div class="film-container">
                    <img src="{{ url_for('static', filename = 'images/affiches/11.webp')}}">
                    <a href="{{url_for('routes.player', video = 'les_animaux_fantastiques_deux.mp4')}}"><i
                            class="ri-play-line"></i></a>
                </div>
            </article>

            <article class="films">
                <div class="film-container">
                    <img src="{{ url_for('static', filename = 'images/affiches/12.webp')}}">
                    <a href="{{url_for('routes.player', video = 'les_animaux_fantastiques_trois.mp4')}}"><i
                            class="ri-play-line"></i></a>
                </div>
            </article>
        </div>
        <h2>Documentaire</h2>
        <div class="section-3">
            <article class="films">
                <div class="film-container">
                    <img src="{{ url_for('static', filename = 'images/affiches/9.webp')}}" id="image-20">
                    <a href="{{url_for('routes.player', video = 'harry_potter_neuf.mp4')}}"><i
                            class="ri-play-line"></i></a>
                </div>
            </article>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}