{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/profil.css') }}">
{% endblock %}

{% block content %}
<div class="global-profil">
    <h1 class="decoration-title">Profil</h1>
    <div class="section-2 pc">
        <div class="maison-profil">
            {% if maison in ["Gryffondor", "Poufsouffle", "Serdaigle", "Serpentard"] %}
            <div><img src="{{ url_for('static', filename='images/maisons/' + maison|lower + '.png')}}"></div>
            {% else %}
            <a href="{{ url_for('routes.to_jeux')}}">
                <img src="{{ url_for('static', filename='images/maisons/poudlard.png')}}">
                <i class="ri-pencil-line"></i>
            </a>
            {%endif%}
            <h2>Maison</h2>
        </div>
        <div class="photo-profil">
            <form id="profil-picture-form" action="{{ url_for('routes.upload_profile_picture') }}" method="POST" enctype="multipart/form-data">
                <label for="profil-picture-input">
                    {% if user.profil_picture.startswith('http') %}
                    <img src="{{ user.profil_picture }}" class="photo-profil">
                    {% else %}
                    <img src="{{ url_for('static', filename='uploads/' + user.profil_picture) }}" class="photo-profil">
                    {% endif %}
                    <i class="ri-camera-line"></i>
                </label>
                <input type="file" id="profil-picture-input" name="file" accept="image/*" style="display: none;">
            </form>
            <h2>Photo de profil</h2>
        </div>
        <div class="patronus-profil">
            {% if patronus != "patronus" %}
            <div><img src="{{ url_for('static', filename='images/patronus/' + patronus + '.png')}}"></div>
            {% else %}
            <a href="{{ url_for('routes.to_jeux')}}">
                <img src="{{ url_for('static', filename='images/patronus/' + patronus + '.png')}}">
                <i class="ri-pencil-line"></i>
            </a>
            {%endif%}
            <h2>Patronus</h2>
        </div>
    </div>
    <div class="section-2 phone">
        <div class="photo-profil">
            <form id="profil-picture-form" action="{{ url_for('routes.upload_profile_picture') }}" method="POST"
                enctype="multipart/form-data">
                <label for="profil-picture-input">
                    {% if user.profil_picture.startswith('http') %}
                    <img src="{{ user.profil_picture }}" class="photo-profil">
                    {% else %}
                    <img src="{{ url_for('static', filename='uploads/' + user.profil_picture) }}" class="photo-profil">
                    {% endif %}
                    <i class="ri-camera-line"></i>
                </label>
                <input type="file" id="profil-picture-input" name="file" accept="image/*" style="display: none;">
            </form>
            <h2>Photo de profil</h2>
        </div>
        <div class="personnality">
            <div class="maison-profil">
                {% if maison in ["Gryffondor", "Poufsouffle", "Serdaigle", "Serpentard"] %}
                <div><img src="{{ url_for('static', filename='images/maisons/' + maison|lower + '.png')}}"></div>
                {% else %}
                <a href="{{ url_for('routes.to_jeux')}}">
                    <img src="{{ url_for('static', filename='images/maisons/poudlard.png')}}">
                    <i class="ri-pencil-line"></i>
                </a>
                {%endif%}
                <h2>Maison</h2>
                <h2 style="color: #d4d4d4;">{{maison}}</h2>
            </div>
            <div class="patronus-profil">
                {% if patronus != "patronus" %}
                <div><img src="{{ url_for('static', filename='images/patronus/' + patronus + '.png')}}"></div>
                {% else %}
                <a href="{{ url_for('routes.to_jeux')}}">
                    <img src="{{ url_for('static', filename='images/patronus/' + patronus + '.png')}}">
                    <i class="ri-pencil-line"></i>
                </a>
                {%endif%}
                <h2>Patronus</h2>
                <h2 style="color: #d4d4d4;">{{patronus}}</h2>
            </div>
        </div>
    </div>
    <div class="section-3">
        <div class="section-3-1">
            <h2 class="decoration-title">Identité magique</h2>
            <div class="info-perso" data-field="">
                <span class="field-label">Nom de sorcier(es) :</span><span class="field-value"> {{ username
                    }}</span>
                <a href="#section-4" class="edit-btn">
                    {% if username %}
                    <i class="ri-checkbox-line"></i>
                    {% else %}
                    <i class="ri-checkbox-blank-line"></i>
                    {%endif%}
                </a>
            </div>
            <div class="info-perso" data-field="maison">
                <span class="field-label">Maison :</span><span class="field-value">
                    {% if maison != "poudlard" %}
                    {{ maison }}
                    {%endif%}
                </span>
                <a href="{{ url_for('routes.to_jeux')}}#section-jeux" class="edit-btn">
                    {% if maison != "poudlard" %}
                    <i class="ri-checkbox-line"></i>
                    {% else %}
                    <i class="ri-checkbox-blank-line"></i>
                    {%endif%}
                </a>
            </div>
            <div class="info-perso" data-field="patronus">
                <span class="field-label">Patronus :</span><span class="field-value">
                    {% if patronus != "patronus" %}
                    {{ patronus }}
                    {%endif%}
                </span>
                <a href="{{ url_for('routes.to_jeux')}}#section-jeux" class="edit-btn">
                    {% if patronus != "patronus" %}
                    <i class="ri-checkbox-line"></i>
                    {% else %}
                    <i class="ri-checkbox-blank-line"></i>
                    {%endif%}
                </a>
            </div>
            <div class="info-perso" data-field="alignement">
                <span class="field-label">Alignement :</span><span class="field-value"> {{ alignement
                    }}</span>
                <a href="{{ url_for('routes.to_jeux')}}#section-jeux" class="edit-btn">
                    {% if alignement %}
                    <i class="ri-checkbox-line"></i>
                    {% else %}
                    <i class="ri-checkbox-blank-line"></i>
                    {%endif%}
                </a>
            </div>
        </div>
        <div class="section-3-1">
            <h2 class="decoration-title">Fan de la saga</h2>
            <div class="info-perso" data-field="film">
                <span class="field-label">Film préféré :</span><span class="field-value"> {{ film }}</span>
                <a href="{{ url_for('routes.to_films')}}" class="edit-btn">
                    {% if user.film %}
                    <i class="ri-checkbox-line"></i>
                    {% else %}
                    <i class="ri-checkbox-blank-line"></i>
                    {%endif%}
                </a>
            </div>
            <div class="info-perso" data-field="livre">
                <span class="field-label">Livre préféré :</span><span class="field-value"> {{ livre }}</span>
                <a href="{{ url_for('routes.to_livres')}}" class="edit-btn">
                    {% if user.livre %}
                    <i class="ri-checkbox-line"></i>
                    {% else %}
                    <i class="ri-checkbox-blank-line"></i>
                    {%endif%}
                </a>
            </div>
            <div class="info-perso" data-field="carte">
                <span class="field-label">Carte favorite :</span><span class="field-value"> {{ carte }}</span>
                <a href="{{ url_for('routes.to_album')}}" class="edit-btn">
                    {% if carte %}
                    <i class="ri-checkbox-line"></i>
                    {% else %}
                    <i class="ri-checkbox-blank-line"></i>
                    {%endif%}
                </a>
            </div>
            <div class="info-perso" data-field="matiere">
                <span class="field-label">Matière préférée :</span><span class="field-value">{{ user.matiere
                    }}</span>
                <a href="{{ url_for('routes.to_jeux')}}#section-jeux" class="edit-btn">
                    {% if user.matiere %}
                    <i class="ri-checkbox-line"></i>
                    {% else %}
                    <i class="ri-checkbox-blank-line"></i>
                    {%endif%}
                </a>
            </div>
            <div class="info-perso" data-field="animal">
                <span class="field-label">Animal de compagnie :</span><span class="field-value">{{ user.animal
                    }}</span>
                <a href="{{ url_for('routes.to_encyclopedie')}}#section-animal" class="edit-btn">
                    {% if user.animal %}
                    <i class="ri-checkbox-line"></i>
                    {% else %}
                    <i class="ri-checkbox-blank-line"></i>
                    {%endif%}
                </a>
            </div>
        </div>
    </div>
    <div class="preference">
        <h2>Preference</h2>
        <div class="preference-details"><button class="btn-spark">Spark</button></div>
        <div class="preference-details"><button class="btn-logout">Déconnexion</button></div>
        <div class="global-logout">
            <a href="{{ url_for('routes.logout')}}" class="logout">Déconnexion</a>
        </div>
        <div class="preference-details"><button class="btn-delete">supprimer le compte</button></div>
        <div class="global-delete">
            <a href="{{ url_for('routes.delete_account')}}" class="delete">supprimer</a>
        </div>
    </div>
    <section class="section-profil" id="section-4">
        <div class="form-content">
            <h2 class="h2-profil">Changer de mot de passe</h2>

            <div class="error-container">
                {% if password_change == 1 %}
                <p class="error"> {{ password_message }} </p>
                {% elif password_change == 2 %}
                <p class="no-error"> {{ password_message }} </p>
                {% else %}
                <p></p>
                {%endif%}
            </div>

            <form action="" method="post" id="form-password">
                <input type="hidden" name="form_type" value="password_change">
                <label for="old_username_pwd">Nom d'utilisateur</label>
                <input style="font-family: serif;" type="text" id="old_username_pwd" name="old_username"
                    placeholder="Votre nom d'utilisateur" required>
                <label for="old_password">Ancien mot de passe</label>
                <input style="font-family: serif;" type="password" id="old_password" name="old_password"
                    placeholder="Votre ancien mot de passe" required>
                <label for="new_password">Nouveau mot de passe</label>
                <input style="font-family: serif;" type="password" id="new_password" name="new_password"
                    placeholder="Votre nouveau mot de passe" required>
                <div class="strength-meter">
                    <div id="strength-bar" class="strength-bar"></div>
                </div>
                <ul class="password-requirements">
                    <li id="length" class="invalid">Au moins 8 caractères</li>
                    <li id="uppercase" class="invalid">Une majuscule</li>
                    <li id="lowercase" class="invalid">Une minuscule</li>
                    <li id="number" class="invalid">Un chiffre</li>
                    <li id="special" class="invalid">Un caractère spécial</li>
                </ul>
                <input type="submit" value="Enregistrer" class="btn-submit">
            </form>

        </div>

        <div class="form-content">
            <h2 class="h2-profil"> Changer de nom d'utilisateur</h2>

            <div class="error-container">
                {% if username_change == 1 %}
                <p class="error"> {{ username_message }} </p>
                {% elif username_change == 2 %}
                <p class="no-error"> {{ username_message }} </p>
                {% else %}
                <p></p>
                {%endif%}
            </div>

            <form action="" method="post" id="form-username">
                <input type="hidden" name="form_type" value="username_change">
                <label for="old_username_usr">Ancien nom d'utilisateur</label>
                <input style="font-family: serif;" type="text" id="old_username_usr" name="old_username"
                    placeholder="Votre ancien nom d'utilisateur" required>
                <label style="font-family: serif;" for="new_username"> Nouveau nom d'utilisateur</label>
                <input type="text" id="new_username" name="new_username" placeholder="Votre nouveau nom d'utilisateur"
                    required>
                <label style="font-family: serif;" for="password_usr"> Mot de passe</label>
                <input type="password" id="password_usr" name="password_username" placeholder="Votre  mot de passe"
                    required>
                <input type="submit" value="Enregistrer" class="btn-submit">
            </form>
        </div>
    </section>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}