/* ====================================== */
/*        IMPORTANT ET RACCOURCIS         */
/* ====================================== */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

@font-face {
    font-family: 'HarryPotter';
    src: url('/static/autres/HARRYP__.TTF') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Cinzel', serif;
}

:root {
  --primary: #0f172a;
  --secondary: #151e34;
  --primary-hover: #ca6c87;
  --accent: #1c2743;
}

/* ======================== */
/*        PAGE FILMS        */
/* ======================== */

body {
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.global-livres{
    width: 70%;
    margin: 0 auto;
}

body.cloud::before {
    content: "";
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/cloud.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
    z-index: -1;

    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.cloud.loaded::before {
    opacity: 1;
}

.global-header a:hover {
    color: var(--primary-hover);
}

/* section */

.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}

.background-section-0{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section .section-0{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.section .section-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    margin: 0 5rem; 
    justify-items: center; 
}

.section .section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.section .section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

h1{
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
    border-bottom: 1px solid var(--accent);
    border-top: 1px solid var(--accent);
    padding: 10px;
    margin: 30px;
}

article {
    width: 200px;
    height: 300px;
    margin-bottom: 5rem;
}

.book .livre {
    position: relative;
    width: 200px;
    height: 300px;
}

.livre img {
    width: 200px;
    height: 300px;
    display: block;
    position: static;
    object-fit: cover;
}

.livre a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    opacity: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.livre a:hover {
    opacity: 1;
    backdrop-filter: blur(1px);
}

/* Adaptation à tout type d'écran */


@media (max-width : 1024px) {

    article {
        width: 150px;
        height: 200px;
    }

    .livre a {
        width: 150px;
        height: 200px;
        font-size: 30px;
    }


    h2 {
        font-size: 14px;
        margin: 5px 0;
    }

    .section-1 h1 {
        font-size: 1rem;
    }

    .title {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .section-2 p {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 5rem;
    }

    .book .livre {
        width: 150px;
        height: 200px;
    }

    .livre a {
        width: 150px;
        height: 200px;
    }

    .livre img{
        width: 150px;
        height: 200px;
    }
}

@media (max-width : 768px) {

    article {
        max-width: 150px;
    }

    .livre {
        width: 100%;
        height: auto;
    }

    .livre img {
        width: 150px;
        height: 200px;
        height: auto;
    }

    h2 {
        font-size: 20px;
    }

    .book .livre {
        width: 150px;
        height: 200px;
    }

    .livre a {
        width: 150px;
        height: 200px;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 5rem;
        margin-left: 20px;
        margin-right: 20px;
    }

    .section .section-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .title h1{
        font-size: 1.5rem;
        text-align: center;
    }

    p{
        font-size: 14px;
    }

    .section-0 h1{
        font-size: 2rem;
    }

    .section .section-0{
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
}

/* player book */

.body-book {
    background: var(--primary);
}

.book-global-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.book-container {
    width: 100%;
}

.book-container canvas, .book-container img {
    width: 100%;
    height: 78vh;
    margin-top: 20px;
    overflow: hidden;
    color: var(--primary);
    border: 2px var(--primary) solid;
}

.book-control{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.book-control button{
    text-decoration: none;
    border: none;
    background: var(--primary);
    transition: .3s;
    cursor: pointer;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.book-control button:hover{
    background: var(--primary-hover);
}

#back-btn{
    position: absolute;
    left: 0;
    top: 115px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    background: transparent;
    border: 1px #fff solid;
    border-radius: 10px;
    transition: .3s;
    font-size: 1rem;
    width: 50px;
    height: 50px;
    margin: 15px;
    cursor: pointer;
}

#back-btn:hover{
    background: #fff;
    color: #000;
    transition: .3s;
}

#back-btn:hover i{
    color: #000;
    transition: .3s;
}

#favorite{
    position: absolute;
    right: 0;
    top: 115px;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    background: transparent;
    border: 1px #fff solid;
    border-radius: 10px;
    transition: .3s;
    font-size: 1rem;
    width: 50px;
    height: 50px;
    margin: 15px;
    cursor: pointer;
}

#favorite:hover{
    background: #fff;
    color: #000;
    transition: .3s;
}

#favorite:hover i{
    color: #000;
    transition: .3s;
}

@media (max-width : 768px) {
    .book-container canvas{
        margin-top: 75px;
    }
}