{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
{% endblock %}

{% block content %}
<div class="global-home">
    <div class="section-1">
        <div class="title-1">
            <h1>Il était une fois… un monde de sorciers</h1>
            <p> Les <span>flammes</span> dansent dans l’âtre, projetant une lumière dorée sur les murs de ta
                maison. Dans ta
                salle commune, chaque pierre respire la <span>magie</span> et chaque instant promet
                l’<span>aventure</span>. Installe-toi
                près du feu : les tableaux murmurent, les chandelles flottent, et une chouette vient de livrer
                le courrier. Tu es enfin chez toi à <span>Poudlard</span>.</p>
            <button id="scroll-btn">Voir plus</button>
        </div>
    </div>
    <div class="section-2">
        <div class="title-2">
            <h1 class="decoration-title">Bienvenue Dans ta salle commune</h1>
            <p>Entrez, la magie commence ici…</p>
            <p class="message-beta">"Bienvenue sur la version <span>Bêta</span> du Quibbler ! 
                Le site est actuellement en plein <span>développement</span>. Quelques nargoles 
                pourraient encore causer des <span>bugs</span>, mais restez aux aguets : une 
                version <span>3.0 révolutionnaire</span> est déjà en cours de préparation dans nos chaudrons ! 
                Préparez-vous à une expérience <span>magique</span> totalement inédite. Merci de votre patience !"</p>
        </div>
        <div class="section-2-1">
            <a href="{{url_for('routes.to_profil')}}" class="section-2-1-1">
                <h2>Profil</h2>
                <p>
                    Entre dans ta salle <span>secrète</span>, là où ton identité <span>magique</span> prend
                    forme. Ici, tu peux ajuster ton
                    nom d’utilisateur, ton mot de passe, ou encore ta maison de <span>Poudlard</span> si la
                    tienne ne te correspond plus.
                    C’est ton espace, ton <span>grimoire</span> — celui où chaque sort, chaque changement,
                    révèle un peu plus qui tu es vraiment.
                </p>

            </a>
            <a href="{{url_for('routes.to_informations')}}" class="section-2-1-2">
                <h2>Informations</h2>
                <p>
                    Explore les <span>fondations</span> du site, découvre son histoire, son but et les coulisses
                    de sa création. Comme un vieux <span>parchemin</span>, cette section t’explique le pourquoi
                    du projet et le sens caché derrière chaque page. Si tu veux comprendre le monde dans lequel
                    tu navigues, c’est ici que la <span>lumière</span> se fait sur les mystères.
                </p>

            </a>
            <a href="{{url_for('routes.to_contact')}}" class="section-2-1-3">
                <h2>Contact</h2>
                <p>
                    Besoin d’envoyer un message, une question, ou simplement un <span>hibou</span> numérique ?
                    Cette section
                    t’ouvre le passage direct vers moi. Rédige ton <span>sortilège</span> sous forme de mail et
                    laisse la
                    <span>magie</span> opérer : je te répondrai dès que la chouette aura trouvé son chemin
                    jusqu’à moi.
                </p>

            </a>
        </div>
    </div>
    <div class="section-3">
        <div class="title-3">
            <div class="section-3-1">
                <h1>I - Les histoires prennent vie</h1>
                <p>
                    Dans cette salle magique, chaque <span>film</span> est un voyage unique : des rires aux
                    frissons, des mystères aux aventures <span>fantastiques</span>. Ici, les histoires sautent
                    de l’<span>écran</span>
                    pour vous emporter dans des mondes insoupçonnés, où chaque image est un pas dans
                    l’imaginaire.
                </p>

                <a href="{{url_for('routes.to_films')}}">Explorer les films</a>
            </div>
            <div class="section-3-2">
                <img src="../static/images/home-photo-film.png">
            </div>
        </div>
    </div>
    <div class="section-4">
        <div class="title-4">
            <div class="section-4-1">
                <img src="../static/images/home-photo-livre.png">
            </div>
            <div class="section-4-2">
                <h1>II - Les mondes des livres</h1>
                <p>
                    Chaque <span>livre</span> est une porte vers un univers <span>secret</span>, où les mots se
                    transforment
                    en aventures
                    et les pages en voyages. Plongez dans des récits <span>fantastiques</span>, des mystères
                    intrigants ou
                    des histoires touchantes, et laissez votre imagination vous emporter.
                </p>

                <a href="{{url_for('routes.to_livres')}}">Explorer les livres</a>
            </div>
        </div>
    </div>
    <div class="section-5">
        <div class="title-5">
            <div class="section-5-1">
                <h1>III - Éclat de Magie</h1>
                <p>
                    Plongez dans l’<span>encyclopédie</span> ultime de l’univers de Harry Potter. Ici, chaque
                    page révèle des
                    <span>secrets</span>, des anecdotes et des merveilles cachées derrière chaque sort, chaque
                    créature et
                    chaque aventure. Un guide pour explorer tous les coins <span>magiques</span> et garder
                    l’étincelle de la
                    magie toujours vivante.
                </p>


                <a href="{{url_for('routes.to_encyclopedie')}}">Découvrir l’encyclopédie</a>
            </div>
            <div class="section-5-2">
                <img src="../static/images/home-photo-encyclopedie.png">
            </div>
        </div>
    </div>
    <div class="section-6">
        <div class="title-6">
            <div class="section-6-1">
                <img src="../static/images/home-photo-jeux.png">
            </div>
            <div class="section-6-2">
                <h1>IV - Teste ta magie</h1>
                <p>
                    As-tu vraiment l’<span>étoffe</span> d’un sorcier accompli ?
                    Les couloirs du château bruissent de mille mystères, mais seuls les esprits les plus vifs
                    savent en percer les <span>secrets</span>. Ici, les quiz t’invitent à prouver ta maîtrise
                    des sorts,
                    potions et créatures enchantées.
                    Relève les défis, réponds avec sagacité et découvre à quelle maison appartiendrait un mage
                    de ton <span>niveau</span> !
                </p>

                <a href="{{url_for('routes.to_jeux')}}">Voir tous les quiz</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}