{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/jeux.css') }}">
{% endblock %}

{% block title %}Quibbler | Jeux{% endblock %}

{% block content %}
<button id="back-btn"><i class="ri-arrow-left-line"></i></button>
<div class="global-album">
    <h2 class="decoration-title">Album de cartes</h2>
    <p class="p-title">Deviens le maître de la <span>collection</span> du monde sorcier.</p>
    <div class="global-case">
        {% for case in range(1, 102) %}
        <div class="case">

            {% if case in user.cards %}
            <button class="btn-case" data-id="{{ case }}">
                <img src="{{ url_for('static', filename='images/cards/' ~ case ~ '.png')}}">
            </button>
            <div class="description" data-id="{{ case }}">
                <button class="back-btn-3"><i class="ri-arrow-left-line"></i></button>
                <button class="favorite-btn" data-id="{{ case }}">
                    <i
                        class="heart-icon {{ 'ri-heart-fill' if user.carte|string == case|string else 'ri-heart-line' }}"></i>
                </button>
                <div>
                    <img src="{{ url_for('static', filename='images/cards/' ~ case ~ '.png')}}">
                    <p>{{cards[case]['doublons']}} <i class="ri-pentagon-line"></i></p>
                </div>

                <div class="card-description">
                    <h1> {{cards[case]['noms']}} </h1>
                    <p> {{cards[case]['description']}} </p>
                    <a class="btn-more" href="{{ cards[case]['url'] }}">Voir plus dans l'Encyclopédie</a>
                </div>
            </div>
            {% else %}
            <div>
                <img src="{{ url_for('static', filename='images/cards/0.png')}}">
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename = 'javascript/jeux.js')}}"></script>
{% endblock %}