{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/jeux.css') }}">
{% endblock %}

{% block title %}Quibbler | Jeux{% endblock %}

{% block header %}{% endblock %}

{% block content %}
        {% if mode == 1 %}
            {% if not erreur %}
                <a class="back-btn" href="{{url_for('routes.to_jeux')}}"><i class="ri-arrow-left-line"></i></a>
                <div class="global-buy">
                    <div class="card">
                        <p><img src="{{ url_for('static', filename='images/cards/' ~ carte ~ '.png')}}"></p>
                    </div>
                    {% if niveau == 1 %}
                        <div class="magic-overlay-bronze"></div>
                    {% elif niveau == 2 %}
                        <div class="magic-overlay-argent"></div>
                    {% elif niveau == 3 %}
                        <div class="magic-overlay-or"></div>
                    {% else %}
                        <div class="magic-overlay"></div>
                    {%endif%}
                </div>
            {% else %}
                <div class="back-error">
                   <button id="back-btn-2">{{erreur}}</button> 
                </div>
            {% endif %}
        {% endif %}
{% endblock %}

{% block footer %}{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename = 'javascript/jeux.js')}}"></script>
{% endblock %}