{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/jeux.css') }}">
{% endblock %}

{% block content %}
<div class="section-1">
    <div class="title-1">
        <h1>Plongez dans la magie des quiz</h1>
        <p>Testez vos <span>connaissances</span> sur le monde des sorciers, des sortilèges et des créatures
            fantastiques.
            Chaque
            question vous rapproche un peu plus de la vérité magique… Saurez-vous prouver que vous méritez la
            <span>baguette</span>
            d’un véritable sorcier ?
        </p>
        <button id="scroll-btn" class="pc-btn">Voir plus</button>
    </div>
</div>
<div class="section-2">
    <p>Bienvenue dans votre espace <span>magique</span> ! Ici, votre aventure commence bien avant les <span>défis</span>
        : découvrez vos
        <span>points</span>, suivez la progression de votre <span>maison</span> et explorez la <span>boutique</span> où
        se cachent de précieux packs
        de collection. Que vous soyez nouveau sorcier ou mage <span>confirmé</span>, cette page vous accompagne dans
        votre
        quête de savoir, de maîtrise… et peut-être de gloire.
    </p>
</div>

<div class="section-points">
    <h2>Points personels</h2>
    <div class="points-perso">
        <p>{{ points }} §</p>
    </div>
    <h2>Points Commun</h2>
    <div class="points-maisons">
        <div class="gryffondor">
            <p>gryffondor</p>
            <p>{{ points_gryff }} §</p>
        </div>

        <div class="poufsouffle">
            <p>poufsouffle</p>
            <p>{{ points_pouf }} §</p>
        </div>

        <div class="serdaigle">
            <p>serdaigle</p>
            <p>{{ points_serd }} §</p>
        </div>

        <div class="serpentard">
            <p>serpentard</p>
            <p>{{ points_serp }} §</p>
        </div>
    </div>
</div>

<div class="global-shop">
    <h2>Boutique</h2>
    {% if erreur %}
    <p id="error-message-sign">{{ erreur }}</p>
    {% endif %}
    <div class="all-card">
        <div class="card-1">
            <a class="btn-buy" href="{{url_for('routes.buy', mode=1)}}"><img src="../../../static/images/pack.png"></a>
        </div>
        <div class="card-2">
            <a class="btn-album" href="{{ url_for('routes.to_album')}}"><img src="../../../static/images/album.png"></a>
        </div>
    </div>
</div>

<div class="section-2">
    <p>Chaque <span>quiz</span> est un défi enchanté. Testez vos connaissances, affrontez des énigmes du monde
        magique et redécouvrez des <span>détails</span> que seuls les véritables passionnés remarquent. Entre
        potions, créatures et artefacts légendaires, laissez-vous emporter dans un voyage où chaque bonne
        réponse révèle un peu plus la magie qui <span>sommeille</span> en vous.</p>
</div>

<div class="section-jeux" id="section-jeux">
    <div class="section-choixpeau-patronus">
        <h2 class="decoration-title">Le Choixpeau magique</h2>
        <div class="global-games">
            {%for quiz in quiz_choixpeau%}
            {% if quiz.maison %}
            <div class="quiz-card">
                <div class="lock-div">
                    <img src=" {{ url_for('static', filename='images/quiz/'+ quiz.image) }}" alt="{{ quiz.title }}">
                    <p class="score-archive">{{ quiz.maison }}</p>
                </div>
                <h2>{{ quiz.title }}</h2>
            </div>
            {% else %}
            <div class="quiz-card">
                <a href="{{ url_for('routes.quiz', name=quiz.name, index=0, mode='choixpeau') }}">
                    <img src=" {{ url_for('static', filename='images/quiz/'+ quiz.image) }}" alt="{{ quiz.title }}">
                    <p class="score-archive">{{ quiz.maison }}</p>
                </a>
                <h2>{{ quiz.title }}</h2>
            </div>
            {%endif%}
            {%endfor%}
            {%for quiz in quiz_patronus%}
            {% if quiz.patronus %}
            <div class="quiz-card">
                <div class="lock-div">
                    <img src=" {{ url_for('static', filename='images/quiz/'+ quiz.image) }}" alt="{{ quiz.title }}">
                    <p class="score-archive">{{ quiz.patronus }}</p>
                </div>
                <h2>{{ quiz.title }}</h2>
            </div>
            {% else %}
            <div class="quiz-card">
                <a href="{{ url_for('routes.quiz', name=quiz.name, index=0, mode='patronus') }}">
                    <img src=" {{ url_for('static', filename='images/quiz/'+ quiz.image) }}" alt="{{ quiz.title }}">
                    <p class="score-archive">{{ quiz.patronus }}</p>
                </a>
                <h2>{{ quiz.title }}</h2>
            </div>
            {%endif%}
            {%endfor%}
            {%for quiz in quiz_alignement%}
            {% if quiz.alignement %}
            <div class="quiz-card">
                <div class="lock-div">
                    <img src=" {{ url_for('static', filename='images/quiz/'+ quiz.image) }}" alt="{{ quiz.title }}">
                    <p class="score-archive">{{ quiz.alignement }}</p>
                </div>
                <h2>{{ quiz.title }}</h2>
            </div>
            {% else %}
            <div class="quiz-card">
                <a href="{{ url_for('routes.quiz', name=quiz.name, index=0, mode='alignement') }}">
                    <img src=" {{ url_for('static', filename='images/quiz/'+ quiz.image) }}" alt="{{ quiz.title }}">
                    <p class="score-archive">{{ quiz.alignement }}</p>
                </a>
                <h2>{{ quiz.title }}</h2>
            </div>
            {%endif%}
            {%endfor%}
            {%for quiz in quiz_matiere%}
            {% if quiz.matiere %}
            <div class="quiz-card">
                <div class="lock-div">
                    <img src=" {{ url_for('static', filename='images/quiz/'+ quiz.image) }}" alt="{{ quiz.title }}">
                    <p class="score-archive">{{ quiz.matiere }}</p>
                </div>
                <h2>{{ quiz.title }}</h2>
            </div>
            {% else %}
            <div class="quiz-card">
                <a href="{{ url_for('routes.quiz', name=quiz.name, index=0, mode='matiere') }}">
                    <img src=" {{ url_for('static', filename='images/quiz/'+ quiz.image) }}" alt="{{ quiz.title }}">
                    <p class="score-archive">{{ quiz.matiere }}</p>
                </a>
                <h2>{{ quiz.title }}</h2>
            </div>
            {%endif%}
            {%endfor%}
        </div>
    </div>

    <div class="section-3">
        <h2 class="decoration-title">BUSE & ASPIC</h2>
        <div class="global-games">
            {%for quiz in quiz_express%}
            {% if maison == "Gryffondor" or maison == "Poufsouffle" or maison == "Serdaigle" or maison == "Serpentard"
            %}
            <div class="quiz-card">
                <a href="{{ url_for('routes.quiz', name=quiz.name, index=0, mode='express') }}">
                    <img src=" {{ url_for('static', filename='images/quiz/'+ quiz.image) }}" alt="{{ quiz.title }}">
                    <p class="score-archive">{{ quiz.best_score }} / {{ quiz.total_questions }}</p>
                </a>
                <h2>{{ quiz.title }}</h2>
            </div>
            {% else %}
            <div class="quiz-card">
                <div class="lock-div">
                    <img src=" {{ url_for('static', filename='images/quiz/'+ quiz.image) }}" alt="{{ quiz.title }}">
                    <i class="ri-lock-line"></i>
                </div>
                <h2>{{ quiz.title }}</h2>
            </div>
            {%endif%}
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename = 'javascript/jeux.js')}}"></script>
{% endblock %}