{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/jeux.css') }}">
{% endblock %}

{% block title %}Quibbler | Jeux{% endblock %}

{% block content %}

{% if mode == 'choixpeau' %}
<div class="quiz-start">
    <h1> Quiz des maisons </h1>
    <p class="total-questions">Question {{ index + 1 }} / {{ quiz.questions|length }}</p>
    <form method="post">
        <p class="question">{{ question.question }}</p>
        <div class="questions">
            {% for option in question.options %}
            <label>
                <input type="radio" name="answer" value="{{ loop.index0 }}" required>
                {{ option }}
            </label><br>
            {% endfor %}
        </div>
        <button type="submit" class="send-btn">{% if is_last %}Terminer{% else %}Suivant{% endif %}</button>
    </form>
</div>

{% elif mode == 'patronus' %}
<div class="quiz-start">
    <h1> Quiz des Patronus </h1>
    <p class="total-questions">Question {{ index + 1 }} / {{ quiz.questions|length }}</p>
    <form method="post">
        <p class="question">{{ question.question }}</p>
        <div class="questions">
            {% for option in question.options %}
            <label>
                <input type="radio" name="answer" value="{{ option }}" required>
                {{ option }}
            </label><br>
            {% endfor %}
        </div>
        <button type="submit" class="send-btn">{% if is_last %}Terminer{% else %}Suivant{% endif %}</button>
    </form>
</div>

{% elif mode == 'alignement' %}
<div class="quiz-start">
    <h1> Quiz d'Alignement </h1>
    <p class="total-questions">Question {{ index + 1 }} / {{ quiz.questions|length }}</p>
    <form method="post">
        <p class="question">{{ question.question }}</p>
        <div class="questions">
            {% for option in question.options %}
            <label>
                <input type="radio" name="answer" value="{{ loop.index0 }}" required>
                {{ option }}
            </label><br>
            {% endfor %}
        </div>
        <button type="submit" class="send-btn">{% if is_last %}Terminer{% else %}Suivant{% endif %}</button>
    </form>
</div>

{% elif mode == 'matiere' %}
<div class="quiz-start quiz-matiere">
    <h1> Quiz Matière Préféré </h1>
    <p class="total-questions">Question {{ index + 1 }} / {{ quiz.questions|length }}</p>
    <form method="post">
        <p class="question">{{ question.question }}</p>
        <div class="questions">
            {% for option in question.options %}
            <label>
                <input type="radio" name="answer" value="{{ loop.index0 }}" required>
                {{ option }}
            </label><br>
            {% endfor %}
        </div>
        <button type="submit" class="send-btn">{% if is_last %}Terminer{% else %}Suivant{% endif %}</button>
    </form>
</div>

{% elif mode == 'express' %}
{% if mode_express == 'correction' %}
<div class="quiz-start">
    <h1>{{ quiz.title }}</h1>
    <p class="total-questions">Correction de la question {{ index + 1 }} / {{ quiz.questions|length }}</p>
    <p class="{%if statut == 'success'%}text-correct{%else%}text-error{%endif%}">{{ message }}</p>
    <p class="good-answer">réponse : {{ answer }}</p>
    <div class="global-explication">
        <div class="correction">
            <div class="explication">
                <h2> Explication </h2>
                <p class="explication-p">{{ explication }}</p>
            </div>
            <form method="post">
                <input type="hidden" name="mode_express" value="question">
                <button type="submit" class="send-btn">Suivant</button>
            </form>
        </div>
    </div>
</div>

{% else %}
<div class="quiz-start">
    <h1>{{ quiz.title }}</h1>
    <p class="total-questions">Question {{ index + 1 }} / {{ quiz.questions|length }}</p>
    <div class="timer">
        <p><span id="time">20</span>s</p>
    </div>
    <form method="post">
        <p class="question">{{ question.questions }}</p>
        <div class="questions">
            {% for option in question.options %}
            <label>
                <input type="radio" name="answer" value="{{ option }}" required>
                {{ option }}
            </label><br>
            {% endfor %}
        </div>
        <button type="submit" class="send-btn">{% if is_last %}Terminer{% else %}Suivant{% endif %}</button>
    </form>
</div>
{%endif%}
{%endif%}

{% endblock %}

{% block footer %}{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename = 'javascript/jeux.js')}}"></script>
{% endblock %}